* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}
body {
  background-color: black;
  overflow: hidden;
}
.slide {
  display: none;
  height: 100vh;
  width: 100vw;
  video {
    position: fixed;
    z-index: -5;
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0.8;
    filter: blur(30px);
    top: 0;
  }
}
.slide.active {
  display: block;
}
.white {
  background-color: white;
}
.noblur {
  filter: none !important;
  opacity: 1 !important;
}
@font-face {
  font-family: "Podium";
  src: url("../font/Fontspring-DEMO-podiumsharp-1.12.woff2") format("woff2"),
    url("../font/Fontspring-DEMO-podiumsharp-1.12.woff") format("woff");
}

.event-name {
  font-family: Podium;
  font-size: 200px;
  font-weight: 100;
  color: white;
  z-index: 4;
  text-align: center;
  margin-top: 150px;
}

.horaire {
  z-index: 4;
  background-color: black;
  max-width: fit-content;
  max-height: fit-content;
  border: solid 3px #00d97d;
  padding: 7px 25px 0px 25px;
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
  transform: translateY(-250px) rotate(5deg);
}

.text-horaire {
  color: #00d97d;
  font-family: "poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
  font-size: 40;
}
.clique {
  position: fixed;
  text-transform: uppercase;
  font-family: "poppins", sans-serif;
  font-weight: 600;
  color: white;
  font-size: 20px;
  text-decoration: underline;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.insitu {
  height: 50px;
  position: fixed;
  top: 50px;
  left: 50px;
}
.dimanche {
  transform: translateY(-50px) rotate(5deg);
}
